* {
    background-color: #270f91;
}

.tile-container {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1em;
  }
  
  .tile {
    /* Your existing styles for the tile */
    width: 24vw;
    height: 24vh;
    background-color: #4327cf; /* Dark purple */
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 33%;
    margin-left: 5px;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-shrink: 1;
  }

  .weightsIcon {
    /* Your existing styles for the tile */
    width: 5vw;
    margin-top: 5px;
    height: 5vh;
    background-color: transparent; /* Dark purple */
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 33%;
    flex-shrink: 0;
  }

  .tile-description {
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    transform: translateX(-200%);
    transition: background-color 0.3s ease;

    
  }
  
  .tile:hover {
    background-color: #4d2ae7; /* Lighter shade of dark purple */
  }
  .tile:hover .tile-description {
    background-color: transparent;
  }
  
  .tile.selected .tile-description {
    background-color: transparent; /* Opaque lighter purple when selected */
  }
  .tile-description.selected {
    width: 25px;
    height: 25px;
    background-color: #4d2ae7;
    left: 100%;
    margin-top: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-100%);
  }
 
  .tile-info {
    margin-left: 10px; /* Adjust spacing between tile and info */
  }
  
  .timer {
    font-size: 14px;
  }
  
  .progress-bar-container {
    width: 100px; /* Width of the progress bar container */
    height: 20px; /* Adjust height as needed */
    border-radius: 10px; /* Half of height to make oval/pill shape */
    background-color: #ddd; /* Light gray background for the progress bar container */
    overflow: hidden; /* Ensure the progress bar stays within the container */
  }
  
  .progress-bar {
    height: 100%;
    background-color: #7c6bc9; /* Lighter shade of dark purple for progress bar */
    transition: width 0.3s ease; /* Smooth transition for width changes */
  }

  .active{
    background: yellow;
  }