* {
    background-color: #270f91;
}

.tile-container {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1em;
  }
  
  .tile {
    /* Your existing styles for the tile */
    width: 24vw;
    height: 24vh;
    background-color: #4327cf; /* Dark purple */
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 33%;
    margin-left: 0px;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-shrink: 1;
  }

  .tile-description {
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    transform: translateX(-200%);
    transition: background-color 0.3s ease;
  }
  
  .tile:hover {
    background-color: #4d2ae7; /* Lighter shade of dark purple */
  }

  
  

  .tile-info {
    margin-left: 10px; /* Adjust spacing between tile and info */
  }
  
  .timer {
    font-size: 14px;
  }
  
 
  


  .weightsIcon {
    width: 5vw;
    margin-top: 5px;
    height: 5vh; 
    display: flex;
    cursor: pointer;
    background-color: transparent;
  }


  .tile-description{
    font-size: 1.5rem;
    display: flex;
    margin: 5px;
    position:absolute;
    
    min-width: 10vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: yellowgreen;
    background-color:  rgba(255, 255, 255, 0);
    border: solid;
    border-color: black;
    transform: translateX();
    transform: translateY(13vh);
    padding-bottom: 1.5%;
    padding-top: .5%;
    padding-left: 2%;
    padding-right:2%;
  }

  .tile-description:hover{
    font-size: 20px;
    display: flex;
    margin: 5px;
    position:fixed;
    
    min-width: 10vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: yellowgreen;
    background-color:  white;
    border: solid;
    transition-timing-function: linear;
    border-color: black;
    transform: translateX();
    transform: translateY(13vh);
    padding-bottom: 1.5%;
    padding-top: .5%;
    transition-duration: 2s;
  }

