.popup{
    position: fixed;
   
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.5%;
    bottom: 2.5%;
    right: 2.5%;
    left: 2.5%;
   
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    color: white;
    z-index: 0;
}


.view-blk {
    position: absolute;
    top: 5%;
    bottom: 5;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.tracker .timer {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: red;
    margin-bottom: 25px;
    background-color: transparent;
}

.tracker{
    
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.tracker h3{
    font-size:50px;
    background-color: transparent;
}

.tracker button{
    
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: grey;
    background-color:  greenyellow;
   
}

.display{
    background-color: transparent;
}