/*Main layer that creates "Pop up" when an action is selected by getting Element ID*/
.popup{
    background-color:#0c023afb;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 12px #4723e77c;
    transition-delay: background-color, 2s;
    
   
}

/*Timer Styling*/
.tracker .timer {
    font-size: 5rem;
    position: fixed;
    font-family: monospace;
    font-weight: bold;
    color: red;
    background-color: transparent;
    border: solid;
    border-radius: 30rem;
    padding-right: 10px;
    padding-left: 10px;
}
/*Action selected UI styling*/
.tracker{
    
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

/*Action displayed font styling*/
.tracker h3{
    font-size:50px;
    background-color: transparent;
}

/*Timer button styles*/
.display button{
    
    font-size: max(1em, 12px);
    
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 5vh;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: grey;
    background-color:  greenyellow;
    hyphens: auto;
    white-space: normal;
    text-align:start
   
}
/*Hover timer button effects*/
.display button:hover{
    
    font-size: max(1em, 12px);
    
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 5vh;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: grey;
    hyphens: auto;
    white-space: normal;
    text-align:start;
    transition: .5s;
    background-color:  #72fd00;
   
}
/*Timer buttons general UI styling*/
.display{
    position: fixed;
    background-color: transparent;
    transform: translateX(50vh);
    transform: translateY(150px);
}


/*Exit button styling*/
.exit-btn{
    display: fixed;
    border: solid;
    min-width: 70px;
    min-height:70px;
    border-radius: 33%;
    font-size: 3rem;
    transform: translate(-30px,-250px);
}

/*Hover Exit button styling*/
.exit-btn:hover{
    display: absolute;
    border: solid;
    min-width: 70px;
    min-height:70px;
    border-radius: 33%;
    font-size: 3rem;
    transform: translate(-30px,-250px);
    background: red;
    transition: 2s;
    cursor: pointer;
}


@media only screen and (max-width: 680px) {
    .popup{
        background-color:#0c023afb;
        display: flex;
        position: sticky;
        justify-content: center;
        align-items: center;
       max-width: 80%px;
       min-width: 80%;
       max-height: 800px;
        border-radius: 5%;
        box-shadow: 1px 1px 1px 12px #4723e77c;
        transition-delay: background-color, 2s;
    }
    .display{
        position: sticky;
        background-color: transparent;
        transform: translateX(50vh);
        transform: translateY(150px);
    }

    .display button{
        display: sticky;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        margin: 5px;
        margin-bottom: 5vh;
        min-width: 125px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: grey;
        background-color:  greenyellow;
        hyphens: auto;
        white-space: normal;
        font-size: 25px;
        font-optical-sizing:auto;
        text-align:start;
        box-sizing: border-box;
       
    }
    .display button:hover{
        display: sticky;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        margin: 5px;
        margin-bottom: 5vh;
        min-width: 125px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: grey;
        background-color:  #72fd00;
        font-size: 25px;
        
        
        
       
    }

    .start{
        transform: translate(-135px, 115px)
        
    }
    .stop {
        transform: translate(-135px,79px);
        margin-top: 2px;
    }
    .reset{
        transform: translate(-135px,42px);
        margin-top: 2px;
    }

    .tracker .timer {
        font-size: 5rem;
        position: sticky;
        font-family: monospace;
        font-weight: bold;
        color: red;
        background-color: transparent;
        border: solid;
        border-radius: 30rem;
        padding-right: 10px;
        padding-left: 10px;
        transform: translate(30%,25%);
    }
    .activity-description{
        position: fixed;
        color: white;
    
    }
    .exit-btn {
        display: fixed;
        border: solid;
        min-width: 70px;
        min-height:70px;
        border-radius: 33%;
        font-size: 3rem;
        transform: translate(-60px,-250px);
    }
    .exit-btn:hover {
        display: fixed;
        border: solid;
        min-width: 70px;
        min-height:70px;
        border-radius: 33%;
        font-size: 3rem;
        transform: translate(-60px,-250px);
    }

   
  }