


.popup{
    position: fixed;
   
    background-color:#0c023afb;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.5vh;
    bottom: 1.5vh;
    right: 1vh;
    left: 1vh;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 12px #4723e77c;
    transition-delay: background-color, 2s;
    
   
}



.view-blk {
    position: absolute;
    top: 5%;
    bottom: 5;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.tracker .timer {
    font-size: 5rem;
    position: fixed;
    font-family: monospace;
    font-weight: bold;
    color: red;
    background-color: transparent;
    border: solid;
    border-radius: 30rem;
    padding-right: 10px;
    padding-left: 10px;
}

.tracker{
    
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.tracker h3{
    font-size:50px;
    background-color: transparent;
}

.display button{
    
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 5vh;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: grey;
    background-color:  greenyellow;
    hyphens: auto;
    white-space: normal;
    font-size: 2vh;
    font-optical-sizing:auto;
    text-align:start
   
}
.tracker button:hover{
    
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 5vh;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: grey;
    background-color:  rgb(71, 73, 68);
    hyphens: auto;
    white-space: normal;
    transition-duration: 1s;
    font-size: 2vh;
    font-optical-sizing:auto;
    text-align:start
   
}

.display{
    position: fixed;
    background-color: transparent;
    transform: translateX(50vh);
    transform: translateY(150px);
}

.display .start {
    
}

.weights-timer-page {
    border-radius: 33%;
    width: 500px;
    margin-bottom: 60vh;
}

.exit-btn{
    display: absolute;
    border: solid;
    min-width: 70px;
    min-height:70px;
    border-radius: 33%;
    font-size: 3rem;
    transform: translate(-3vh,-42vh);
}

.exit-btn:hover{
    display: absolute;
    border: solid;
    min-width: 70px;
    min-height:70px;
    border-radius: 33%;
    font-size: 3rem;
    transform: translate(-3vh,-42vh);
    background: red;
    transition: 2s;
    cursor: pointer;
}
