.tracker .activity-description{
    position: fixed;
    transform: translateY(-10vh);
    margin-top: 5px;
    overflow: hidden;
    white-space: wrap;
    color: white;

}

.tracker .run-icon-page {
    position:relative;
    height: 100px;
    padding: 5px;
    transform: translateY(-20vh);
    background-color: hsla(0, 0%, 95%, 0.897);
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    
}   

@media only screen and (max-width: 680px) {
    .tracker .activity-description{
        position: absolute;
        transform: translate(50px,-7vh);
        min-width: 250px;
        max-width:250px;
        font-size: 25px;
        overflow: hidden;
        white-space: wrap;
        color: white;
    
    }
    .tracker .work-icon-page {
        position: sticky;
        transform: translate(55vw,-30vh);
        background-color: hsla(0, 0%, 95%, 0.897);
        border-radius: 50%;
        min-width: 50px;
        margin-top: 10px;
    }    
    
}