
.tracker .work-icon-page {
    position: fixed;
    height: 10vh;
    transform: translateY(-40vh);
    background-color: hsla(0, 0%, 95%, 0.897);
    border-radius: 50%;
    padding: 5px;
    min-width: 50px;
    margin-top: 10px;
}   

